.main-container{
  position: absolute;
  top:100px;
  left:0;
  right: 0;
  bottom:100px;
  overflow-x: hidden;
  overflow-y: auto;
}
.bg{ width: 100%; height: auto;}

/**login**/
.toHome{ width: 100px; height: 50px; background: #61dafb; color: #ff0000;}
/**login**/